<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.memo.com.memoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBarSize">
        <activity
            android:name=".UI.MainActivityMemo"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH"></action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Database.ContentProvider"
            android:authorities="app.memo.com.memoapp"
            android:exported="true" />

        <activity android:name=".UI.InsertNoteActivity" />
        <activity android:name=".UI.DetailActivity"></activity>
    </application>

</manifest>